<!doctype html>
<html lang="ja">
  <head>
    <meta charset="UTF-8" />
    <title>CSP検証用ページ</title>
  </head>
  <body>
    <!-- サーバーから渡されたnonce値をscriptタグに付与し、CSPヘッダーのnonce値と一致させることで実行を許可する -->
    <script nonce="<%= nonce %>">
      // alert('hello, CSP!');
      const script = document.createElement('script');
      script.src = './csp-test.js';
      document.body.appendChild(script);
    </script>
  </body>
</html>
